<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camera2.cibertec.camara2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- GCM -->
    <permission
        android:name="com.holascharff.gocourierlite.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.holascharff.gocourierlite.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- END GCM -->
    <!-- LOCALIZATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- /LOCALIZATION -->


    <!-- CAMARA -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- android:required="false" -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- /CAMARA -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".RegistroEntrega"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name=".Camera"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CameraPreview"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

    </application>

</manifest>